$text: #060505;
$background: #faf9f9;
$primary: #ff4b59;
$secondary: #dfd8d8;
$accent: #6a817f;

$body-color: $text;
$body-bg: $background;
$emphasis: $accent;

$light: #edebeb;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

body {
    padding-top: 50px;
    height: 1000px;
}

.dropdown-multicol {
    display: flex;
    flex-direction: row;
}

.dropdown-multicol>.dropdown-col {
    vertical-align: top;
}

.dropdown-divider {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.nav-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-header {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}