:root {
    --bs-text: #060505;
    --bs-background: #faf9f9;
    --bs-primary: rgb(75, 168, 255);
    --bs-secondary: #dfd8d8;
    --bs-accent: #6a817f;

    --bs-body-color: var(--text);
    --bs-body-bg: var(--background);
    --bs-emphasis: var(--accent);

    --bs-light: #edebeb;
}

body {
    padding-top: 100px;
    height: 1000px;
}
