.expandedMovie {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: #fff;
    z-index: 9999;
    overflow-y: auto;
}

.expandedMovie img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.map {
    width: 50%;
    height: 30%;
}