/* .expandedMovie {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background: #fff;
    z-index: 9999;
    overflow-y: auto;
    margin-left: 150px;
    transform: scale(1.3);
}

.expandedMovie img {
    width: 100%;
    height: auto;
    border-radius: 0;
} */

.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.map {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50%;
    flex-grow: 1;
}

.sidebarRight {
    display: flex;
    width: fit-content;
    padding: 2rem;
}

.button {
    height: 100%;
    background-color: var(--bs-gray-200);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--bs-gray-400);
}

.button:focus {
    outline: 2px solid var(--bs-gray-400);
}
