.dropdown-multicol {
    display: flex;
    flex-direction: row;
}

.dropdown-multicol>.dropdown-col {
    vertical-align: top;
}

.dropdown-divider {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.nav-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}