.scrollableHorizontal {
    display: flex;
    height: fit-content;
    width: 100%;
}

.scrollableVertical {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}

.cardDeckHorizontal,
.cardDeckVertical {
    display: flex;
    border-radius: 1em;
    width: 100%;
    -ms-overflow-style: none;
}

.cardDeckVertical {
    flex-direction: column;
}

.cardDeckHorizontal::-webkit-scrollbar,
.cardDeckVertical::-webkit-scrollbar {
    display: none;
}

.scrollButton {
    border-radius: 1em;
}
